.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9212150;
    border-radius: 20px;
    padding: 20px;
}

.card-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card-dados {
    text-align: left;
    margin: 15px 20px;
}

.card-redes {
    margin-top: 20px;
}

.card-redes a {
    margin-right: 20px;
    opacity: 0.3;
    transition: .3s ease-in-out;
}

.card-redes a:hover {
    margin-right: 20px;
    opacity: 1;
}